.container {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: left;
}

.collectdatabtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: right;
}

.collectdatabtn:hover {
    opacity: 0.8;
}
